/* Genel Stiller */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

html {
  
  overflow-y: scroll; /* Yalnızca dikey kaydırmayı etkinleştir */
  
}

.body_navbar{
  background-color: #002a43;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: auto; /* Görüntülerin taşma yapmasını önle */
  height: auto; /* Oranları koruyarak görüntülerin boyutunu ayarla */
}



/* HEADER */
.navbar_header {
  height: 40px;
  background:#122866 ; /* Replace with your desired color */
  border-bottom: 2px solid #1aaead;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 3;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px ;
  width: 100%; /* Full width on large screens */

  text-align: center;
}

.nav_links {
  display: flex;
}

.nav_links li {
  margin-left: 20px; /* Boşluk eklemek için */
  margin-bottom: 15px;
}

.nav_links li a {
  text-align: center;
  color: #f9f4f4; /* Fixed white color for readability against any background */
  padding: 5px 15px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  font-weight: bold; /* Add some boldness for a more prominent look */
}

.nav_links li a:hover {
  background-color: #008195; /* Hover effect color remains the same */
}

.logo h2 a {
  margin-left: 20px;
  color: #ffffff; /* Fixed white color for readability against any background */
  text-transform: uppercase;
}

/* Responsiveness (Media Queries) */
@media (max-width: 768px) {
  .nav_links {
    flex-direction: column; /* Stack links vertically on smaller screens */
    align-items: center; /* Center links horizontally */
  }

  .nav_links li {
    margin: 10px 0; /* Adjust spacing between links on smaller screens */
  }
}


/* Kendimi Tanıtma */
/* Kendimi Tanıtma */
.about-section {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.container {
  max-width: 1200px; /* Adjust this based on your preference */
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.card-container {
  display: grid; /* Kartları grid'de düzenleyin */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Her sütunun minimum genişliğini 300px olarak ayarlayın ve kalan alanı eşit şekilde dağıtın */
  gap: 20px; /* Kartlar arasına boşluk ekleyin */
}

.card {
  margin: 40px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden; /* Kartın içeriğinin taşmasını engelle */
  display: flex;
  flex-direction: column;
}

.card-img-top {
  width: 100%; /* Resmi kartın genişliğine sığacak şekilde ayarla */
  height: auto; /* Resmin yüksekliğini otomatik tut */
  border-radius: 10px 10px 0 0; /* Yalnızca üst kenarlara yuvarlaklık ekle */
}

.card-body {
  background-color: #cc9b9b;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  flex: 1;
}

.card-title {
  text-align: center;
  padding: 2%;
  margin-bottom: 10px; /* Başlık ile metin arasına boşluk ekleyin */
  font-size: 1.5rem; /* Başlık font boyutunu ayarla */
}

.card-text {
  line-height: 1.5; /* Metnin satır aralığını ayarla */
  text-align: left;
  font-size: 1rem; /* Metin font boyutunu ayarla */
  margin-top: 10px; /* Metin ile fotoğraf arasına boşluk ekleyin */
}

@media (max-width: 770px) {
  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.875rem;
  }
}

/*------------HEADER---------------*/
@media screen and (max-width: 770px) {
  .navbar {
    width: 90%; /* Ekran küçüldüğünde menünün genişliğini ayarla */
  }

  .logo h2 {
    font-size: 15px; /* Logo metninin boyutunu küçült */
  }

  .nav_links {
    display: none; /* Küçük ekranlarda menüyü gizle */
    flex-direction: column;
    position: absolute;
    background: #122866;
    width: 100%;
    left: 0;
    padding: 0;
    top: 40px; /* Menünün üst boşluğunu ayarla */
  }

  .nav_links li a {
    border-bottom: 1px solid #1aaead;
    display: block;
    padding: 10px 0;
    margin: 0 20px;
    text-align: center;
  }

  .nav_links li:last-child a {
    border-bottom: none;
  }

  #menu_icon {
    display: block; /* Küçük ekranlarda menü ikonunu göster */
    color: #1aaead;
    position: absolute;
    right: 5%;
    top: 10px;
    cursor: pointer;
    z-index: 9999; /* Menü ikonunu en üstte göster */
  }
}

@media screen and (min-width: 771px) {
  .nav_links {
    display: flex !important; /* Menüyü tekrar görünür hale getir */
    position: static; /* Pozisyonu normal haline getir */
    background: none; /* Arka plan rengini kaldır */
    width: auto; /* Genişliği otomatik olarak ayarla */
    top: auto; /* Üst boşluğu kaldır */
  }

  #menu_icon {
    display: none; /* Menü ikonunu gizle */
  }
}


/*------ÖZGEÇMİŞCV----------*/
.container_cv {
  width: 90%; /* Ekran genişliğinin %90'ı */
  height: auto; /* Otomatik yükseklik */
  padding: 150px;
  margin: 0 20px 20px 20px auto; /* Yatayda ortala, üstten ve alttan 20px boşluk */
  display: flex;
  justify-content: center; /* İçeriği yatayda ortala */
}

.dikdortgen_sol, .dikdortgen_sağ {
  flex: 1; /* Her iki dikdörtgen de eşit genişlikte */
}

/* Sol Dikdörtgen */
.dikdortgen_sol {
  border-radius: 10px 0 0 10px;
  background-color: rgb(5, 166, 219);
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Öğeleri dikey olarak sırala */
  align-items: center; /* Öğeleri yatayda ortala */
  padding: 20px;
}

.profil_foto {
  width: 70%; /* Ekran genişliğinin %70'i */
  height: auto; /* Otomatik yükseklik */
  border-radius: 50%;
  object-fit: cover; /* Resmi orantılı bir şekilde kes */
  margin-bottom: 20px;
}

.iletişim_bilgileri ul li {
  margin-bottom: 10px; /* Burada boşluk ekleyin */
}

.iletişim_yazı {
  border-bottom: 1px solid #000000; /* Başlık altına çizgi ekle */
  margin-bottom: 15px;
  font-size: 1.5vw;
}

.icon {
  padding-right: 10px;
}

.text_iletişim {
  padding-left: 2px;
  font-size: 1.2vw;
}

.diller, .yetenekler {
  border-bottom: 1px solid #000000; /* Başlık altına çizgi ekle */
  margin-bottom: 15px;
  font-size: 1.3vw;
}

.text_diller, .text_yetenekler {
  font-size: 1vw; /* Yazı boyutunu ayarla */
  text-align: center; /* Metni ortala */
}

/* Sağ Dikdörtgen */
.dikdortgen_sağ {
  border-radius: 0 10px 10px 0;
  background-color: #b09898;
  padding: 20px;
}

.kişi_bilgsi {
  font-size: 1.7vw;
  text-align: left; /* Metni sola dayalı yap */
}

.unvan {
  font-weight: normal;
  margin-top: -10px;
  font-style: italic; /* Unvanı italik yap */
}

.hakkında_başlık {
  border-bottom: 1px solid #000000; /* Başlık altına çizgi ekle */
  margin-bottom: 15px;
  font-size: 1.5vw;
}

.hakkında_text {
  font-size: 1.3vw;
  text-align: justify; /* Metni ikiye ayır */
}

.eğitim_başlık, .sertifika_başlık {
  border-bottom: 1px solid #000000; /* Başlık altına çizgi ekle */
  margin-bottom: 15px;
  font-size: 1.5vw;
}

.eğitim_text, .sertifika_text {
  text-align: left; /* Metni sola dayalı yap */
  font-size: 1.3vw;
}

.lise_yıl, .üni_yıl, .sertifika_yıl {
  font-weight: normal;
  margin-right: 10px;
}

.üni_bölüm, .sertifika_alan {
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 768px) {
  .dikdortgen_sol, .dikdortgen_sağ {
    flex-direction: column; /* Öğeleri dikey olarak sırala */
  }

  .profil_foto {
    width: 100%; /* Ekran genişliğinin %100'ü */
    margin-bottom: 15px;
  }

  .hakkında_text {
    text-align: left; /* Metni sola dayalı yap */
  }
}



/* ------ŞEHRİM-------*/

img {
  vertical-align: middle;
  
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  padding-top: 50px;
  overflow: hidden;
  height: auto;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
 
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}

.body_şehrimiz{
  background: #006394;


}
.container_şehrimiz {
  background-color: #002a43 ;
  max-width: 800px; /* Container genişliği */
  margin: 20px; /* Ortala */
  padding: 20px; /* Kenar boşlukları */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(200, 21, 255, 0.1); /* Gölge */
}

.container_şehrimiz h2 {
  color: #fff; /* Başlık rengi */
  font-size: 24px; /* Başlık boyutu */
  margin-bottom: 10px; /* Başlık alt boşluk */
}

.container_şehrimiz p {
  color: #fff; /* Metin rengi */
  font-size: 16px; /* Metin boyutu */
  line-height: 1.6; /* Satır aralığı */
}


.container_kocaeli, .container_saat_kulesi, .container_gemi_müzesi, .container_yuvacık_barajı, .container_pembe_kayalar {
  margin-bottom: 20px; /* Bölümler arası boşluk */
 
    background-size: cover; /* Resmi container'a sığdır */
    background-position: center; /* Resmi ortala */
    
}


.container_kocaelispor {
  position: relative;
  size: 10px;
  padding: 60;
 
  font-size: 160%;
  background: url('../image/takımımız/kocaelispor-logo.jpg') no-repeat center;
  background-size:100% 100%; 
  opacity: 0.7;  
}
.text_kocaelibaşlık{
  color: rgb(255, 255, 255);

}

.text_kocaelispor{
  color: rgb(255, 255, 255);
}
.başlık_kocaeli{
  color: rgb(255, 255, 255);
 
  text-align: center;
}


/*--------iletişim---------*/

.iletişim_body{
 background-color: #002a43;
}

#iletişim {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.container_iletişim {
  width: 80%;
  margin: 0 auto;
}

.başlık_iletişim {
  padding-top: 70px;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #ffffff;
}

.iletişim_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Yeni eklenen satır - elemanların sıralamasını düzenler */
}

.iletişim_sol,
.iletişim_sağ {
  width: 100%; /* Değiştirildi - responsive olması için */
  padding: 1rem; /* Değiştirildi - daha küçük ekranlarda daha az boşluk */
}

.iletişim_üst {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ffffff;
}

.iletişim_elemanları {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.iletişim_elemanları i {
  color: #ffffff;
  padding: 0.7rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: all 0.4s ease;
  display: flex; /* İkonları içerikle aynı hizada olacak şekilde ayarla */
  justify-content: center; /* İkonları dikey olarak ortala */
  align-items: center; /* İkonları dikey olarak ortala */
}

.iletişim_elemanları i:hover {
  background-color: #ffffff;
  color: #000000;
}

.iletişim_elemanları a {
  color: #ffffff;
  text-decoration: none;
}

.iletişim_alt {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iletişim_alt a {
  padding: 20px;
  color: #ffffff;
  width:4rem ;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #181818;
  border-radius: 40%;
}

.iletişim_alt a:hover {
  color: #181818;
  background-color: #ffffff;
}

.iletişim_sağ form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iletişim_sağ form input,
.iletişim_sağ form textarea,
.iletişim_sağ form button {
  width: 100%;
  margin: 1rem 0;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.4s ease;
}

.iletişim_sağ form button {
  background-color: #ffffff;
  color: #011627;
  cursor: pointer;
}

.iletişim_sağ form button:hover {
  background-color: #234860;
  color: #ffffff;
}

.iletişim_sağ form input:hover,
.iletişim_sağ form textarea:hover {
  color: #011627;
  background-color: #ffffff;
}

.iletişim_sağ form input:focus,
.iletişim_sağ form textarea:focus {
  color: #011627;
  background-color: #ffffff;
}

/*----------GİRİŞ SAYFASI--------------*/

.başlık_giriş {
  
  padding: 40px;
  text-align: center;
}
.başlık_giriş h1 {
  font-size: 250%;
  color: #333;
  animation: fadeInDown 1s ease-out;
}
@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.login_body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #f5f5f5;
  margin: 0;
  background: linear-gradient(120deg, #f5f5f5, #c3cfe2);
}


.container_login {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Sayfa yüklenirken gizle */
  animation: fadeIn 1s ease-in forwards; /* Giriş animasyonu */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Opaklığı 0 olarak ayarla */
  }
  to {
    opacity: 1; /* Opaklığı 1'e kadar artır */
}
}

.login-box {
  background: #fff;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: popIn 0.5s ease-out;
    transition: transform 0.3s; /* Boyut değişiminde animasyon geçişi */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8); /* Beyaz bir ışık efekti */
}



@keyframes popIn {
  0% {
      transform: scale(0.8);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
@keyframes pop {
  0% {
      transform: scale(0.8);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
.login-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* Hover durumunda boyutu büyüt */
}


.login-box h2 {
  margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-box {
  position: relative;
  margin-bottom: 30px;  
}
.input-box input:hover {
  border-color: #555; /* Hover durumunda border rengini değiştir */
}



.input-box input {
  width: 100%;
  padding: 10px 10px 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  background: transparent;
  color: #333;
  font-size: 16px;
  transition: all 0.3s;
}
.input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  pointer-events: none;
  transition: all 0.3s;
  color: #666;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -20px;
  left: 0;
  color: #333;
  font-size: 12px;
}


button {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  color: #fff; /* Buton metin rengi */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Hafif bir gölge efekti */
}


button:hover {
  background: #555;
  transform: translateY(-2px);
  transform: scale(1.05);
  background: #555; /* Hover durumunda arka plan rengini değiştir */
  color: #fff; /* Hover durumunda metin rengini değiştir */
  
}

.button:active {
  transform: scale(0.95); /* Tıklama anında boyutu biraz küçült */
  box-shadow: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .login-box {
      padding: 30px;
  }

  .login-box h2 {
      font-size: 20px;
  }

  .input-box input {
      font-size: 14px;
  }

  button {
      padding: 8px 16px;
  }

  header h1 {
      font-size: 28px;
  }
}

@media (max-width: 480px) {
  .login-box {
      padding: 20px;
  }

  .login-box h2 {
      font-size: 18px;
  }

  .input-box input {
      font-size: 12px;
  }

  button {
      padding: 6px 12px;
  }

  header h1 {
      font-size: 24px;
  }
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}